.topnav {
	margin-right: -5px;
	margin-left: -5px;
	padding-bottom: 10px;
	border-radius:10px;
    background-color: black;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 9;
}

.topnav a {
  	float: left;
  	color: #bfbfbf;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
}

.topnav a:hover {
  	color: white;
}

.topnav-right {
  	float: right;
}

.jumb h1{
	font-size:61px;
	color: ivory;
}

.jumb {
	background-color: #0099cc;
	margin-top: 15px;
	padding-top:15px;
	padding-bottom:15px;
	margin-bottom:15px;
	border-radius:10px;
	margin-right:60px;
	margin-left:60px;
	text-shadow: 3px -3px 3px gray;
}

.jumb p{
	font-size: 20px;
	 color: ivory;
}

body {
	background: linear-gradient(to right, #33ccff 0%, #9999ff 100%);
	background-attachment: fixed;
	font-family: Quicksand;
}

 #special {
    	text-align: center;
    	color: white;
    	padding-top: 9%;
    	font-family: 'Quicksand', sans-serif;
    	text-shadow: 1px 3px 7px #f1f1f1;
    	letter-spacing: 2px;
    	padding-left: 700px;
}

#we {
    	font-family: 'Exo', sans-serif;
}

.login_for_web {
	position: absolute;
	background-color: GhostWhite;
	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
  	padding-right: 10px;
	padding-left: 10px;
	border-radius: 20px;
	padding-bottom: 30px;
	padding-top: 30px;
	font-size: 15px;
}

.alert {
  padding: 20px;
  background: linear-gradient(to right, #9999ff 0%, #33ccff 100%);
  color: black;
  font-weight: bold;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.main-box {
	background-color: white;
	margin-right: 65px;
	margin-left: 65px;
	border-radius: 5px;
	box-shadow: 4px 4px 4px gray;
}

.main-box table tr th a {
	color: black;
	font-weight: bold;
}

.container a {
	text-decoration: underline;
	color: black;
	font-weight: bold;
}

.wrong_id {
	background-color: #ff6666;
	font-weight: bold;
	text-align: center;
	z-index: 10;
	display: none;
}

.container {
	display: inline-block;
}

.product_img {
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 1px 1px gray;
	padding: 10px;
}

.product_img:hover {
	box-shadow: 5px 5px 5px gray;
}

.sidebar {
	position: fixed;
	z-index: 8;
	top: 110px;
	right: 20px;
	overflow-x: hidden;
	background-color: #ffffcc;
	border-radius: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.sidebar:hover {
	box-shadow: 5px 5px 5px gray;
}